<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }

        .success-message {
            color: green;
        }

        .error-message {
            color: red;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button-home {
            background-color: #4CAF50;
            color: #fff;
        }

        .button-back {
            background-color: #f44336;
            color: #fff;
            margin-left: 20px;
        }

        .button:hover {
            background-color: #555;
            color: #fff;
        }
    </style>
</head>
<body>
    <% if (isValidExpense) { %>
        <div class="success-message">
            <p>Expense successfully added!</p>
            <a href="/" class="button button-home">Go to Home</a>
        </div>
    <% } else { %>
        <div class="error-message">
            <p>Failed to add expense. <%= errorMessage %></p>
            <a href="/" class="button button-home">Go to Home</a>
            <a href="/expense" class="button button-back">Go Back</a>
        </div>
    <% } %>
</body>
</html>
